---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/66.131.120.255/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "66.131.120.255",
          "hostname": "modemcable255.120-131-66.mc.videotron.ca",
          "city": "Dolbeau-Mistassini",
          "region": "Quebec",
          "country": "",
          "loc": "48.8786,-72.2314",
          "org": "AS5769 Videotron Ltee",
          "postal": "G8L",
          "timezone": "America/Toronto",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Tue, 04 Jun 2024 13:53:48 GMT
recorded_with: VCR 6.2.0
