<div class="w-full">
  <% if @target_urls&.present? %>
    <%= render partial: "target_urls", object: @target_urls %>    
  <% else %>
    <div>There are no URLs being shortened.</div>
  <% end %>
</div>